server:
  port: 8888

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
          - id: user-manager
            uri: lb://user-manager
            predicates:
              - Path=/user-manager/**
            filters:
              - RewritePath=/user-manager/(?<segment>.*), /$\{segment}

          - id: mall-service
            uri: lb://mall-service
            predicates:
              - Path=/mall/**
            filters:
              - RewritePath=/mall/(?<segment>.*), /$\{segment}


eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8762/eureka
    fetch-registry: true