spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: thaivanlam373@gmail.com
    password: cxpr wdis cawc sctx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true